USE [master]
GO
/****** Object:  Database [reserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
CREATE DATABASE [reserva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reserva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\reserva.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'reserva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\reserva_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reserva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reserva]
GO
/****** Object:  Table [dbo].[cancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cancha](
	[cancha_id] [int] IDENTITY(1,1) NOT NULL,
	[cancha_usuario_id] [int] NOT NULL,
	[cancha_nombre] [varchar](100) NULL,
	[cancha_descripcion] [varchar](200) NULL,
	[cancha_tipo_id] [int] NOT NULL,
	[activo] [bit] NOT NULL CONSTRAINT [DF_cancha_activo]  DEFAULT ((1)),
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [PK_cancha] PRIMARY KEY CLUSTERED 
(
	[cancha_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reserva](
	[reserva_id] [int] IDENTITY(1,1) NOT NULL,
	[reserva_fecha] [datetime] NULL,
	[reserva_horainicio] [time](7) NULL,
	[reserva_horafin] [time](7) NULL,
	[reserva_canchaid] [int] NULL,
	[reserva_cliente_dni] [varchar](10) NOT NULL,
	[reserva_cliente_nombre] [varchar](50) NULL,
	[reserva_cliente_apellido] [varchar](50) NULL,
	[reserva_cliente_email] [varchar](50) NULL,
	[reserva_cliente_telefono] [varchar](12) NULL,
	[reserva_cliente_celular] [varchar](12) NULL,
	[activo] [bit] NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [PK_reserva] PRIMARY KEY CLUSTERED 
(
	[reserva_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tabla_maestra]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tabla_maestra](
	[tablamaestra_id] [int] NOT NULL,
	[tablamaestra_descripcion] [varchar](100) NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[activo] [bit] NOT NULL CONSTRAINT [DF_tabla_maestra_activo]  DEFAULT ((1)),
 CONSTRAINT [PK_tabla_maestra] PRIMARY KEY CLUSTERED 
(
	[tablamaestra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tablamaestradetalle]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tablamaestradetalle](
	[tablamaestradetalle_id] [int] NOT NULL,
	[tablamaestra_id] [int] NOT NULL,
	[tablamaestradetalle_descripcion] [varchar](100) NULL,
	[tablamaestradetalle_orden] [int] NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[activo] [bit] NOT NULL CONSTRAINT [DF_tablamaestradetalle_activo]  DEFAULT ((1)),
 CONSTRAINT [PK_tablamaestradetalle] PRIMARY KEY CLUSTERED 
(
	[tablamaestradetalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_nombre] [varchar](50) NULL,
	[usuario_contraseña] [varchar](50) NULL,
	[usuario_razonsocial] [varchar](50) NULL,
	[usuario_ruc] [varchar](12) NULL,
	[usuario_email] [varchar](50) NULL,
	[usuario_telefono] [varchar](12) NULL,
	[usuario_foto_url] [varchar](50) NULL,
	[usuario_presentacion] [varchar](500) NULL,
	[activo] [bit] NOT NULL CONSTRAINT [DF_usuario_activo]  DEFAULT ((1)),
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cancha] ON 

INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (1, 1, N'La bombonera', N'Cancha pequeña', 1, 1, N'master', NULL, CAST(N'2017-07-19 18:30:04.150' AS DateTime), NULL)
INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (2, 1, N'La canchita', N'cancha mediana', 2, 1, N'master', NULL, CAST(N'2017-07-19 18:56:52.490' AS DateTime), NULL)
INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (3, 1, N'utp', N'cancha olimpica', 3, 1, N'master', NULL, CAST(N'2017-07-19 19:21:25.617' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[cancha] OFF
INSERT [dbo].[tabla_maestra] ([tablamaestra_id], [tablamaestra_descripcion], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (1, N'tipo_cancha', N'admin', NULL, NULL, NULL, 1)
INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (1, 1, N'5x5', 1, N'admin', NULL, NULL, NULL, 1)
INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (2, 1, N'6x6', 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (3, 1, N'8x8', 3, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([usuario_id], [usuario_nombre], [usuario_contraseña], [usuario_razonsocial], [usuario_ruc], [usuario_email], [usuario_telefono], [usuario_foto_url], [usuario_presentacion], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (1, N'Anibal', N'1234', N'ruc', N'1234', N'@email', N'354', N'ur/3231.jpg', N'presentacion', 1, N'master', NULL, CAST(N'2017-07-19 18:29:26.963' AS DateTime), NULL)
INSERT [dbo].[usuario] ([usuario_id], [usuario_nombre], [usuario_contraseña], [usuario_razonsocial], [usuario_ruc], [usuario_email], [usuario_telefono], [usuario_foto_url], [usuario_presentacion], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (2, N'Chuco', N'4556', N'ruc2', N'2348', N'@email2', N'4523', N'2', N'54', 1, N'master', NULL, CAST(N'2017-07-19 18:58:36.253' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  StoredProcedure [dbo].[deletecancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deletecancha]
	@cancha_id int
as
update cancha 
set activo = 0, fecha_modificacion = GETDATE()
where cancha_id = @cancha_id



GO
/****** Object:  StoredProcedure [dbo].[deleteReserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteReserva]
	@reserva_id int
as
update reserva 
set activo = 0, fecha_modificacion = GETDATE()
where reserva_id = @reserva_id



GO
/****** Object:  StoredProcedure [dbo].[deleteUsuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[deleteUsuario](@usuario_id int)
as
update usuario 
set activo = 0, fecha_modificacion = GETDATE()
where usuario_id = @usuario_id



GO
/****** Object:  StoredProcedure [dbo].[insertCancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertCancha] 
	@cancha_usuario_id int, @cancha_nombre varchar(100),
	@cancha_descripcion varchar(200), @cancha_tipo_id int

As
INSERT INTO dbo.cancha
           (cancha_usuario_id           ,cancha_nombre
           ,cancha_descripcion          ,cancha_tipo_id           ,activo
           ,usuario_creacion            ,fecha_creacion)
     VALUES
           (@cancha_usuario_id          ,@cancha_nombre
           ,@cancha_descripcion         ,@cancha_tipo_id           ,1
           ,'master'					,GETDATE())



GO
/****** Object:  StoredProcedure [dbo].[insertReserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertReserva]
	@reserva_fecha datetime, @reserva_horainicio time, @reserva_horafin time,
	@reserva_canchaid int,@reserva_cliente_dni varchar(10), @reserva_cliente_nombre varchar(50),
	@reserva_cliente_apellido varchar(50), @reserva_cliente_email varchar(50),@reserva_cliente_telefono varchar(50),
	@reserva_cliente_celular varchar(12)
as
INSERT INTO [dbo].[reserva]
           ([reserva_fecha]
           ,[reserva_horainicio]
           ,[reserva_horafin]
           ,[reserva_canchaid]
           ,[reserva_cliente_dni]
           ,[reserva_cliente_nombre]
           ,[reserva_cliente_apellido]
           ,[reserva_cliente_email]
           ,[reserva_cliente_telefono]
           ,[reserva_cliente_celular]
           ,[activo]
           ,[usuario_creacion]
           ,[fecha_creacion]
           )
     VALUES
           (@reserva_fecha
           ,@reserva_horainicio
           ,@reserva_horafin
           ,@reserva_canchaid
           ,@reserva_cliente_dni
           ,@reserva_cliente_nombre
           ,@reserva_cliente_apellido
           ,@reserva_cliente_email
           ,@reserva_cliente_telefono
           ,@reserva_cliente_celular
           ,1
           ,'master'
           ,GETDATE()
           )



GO
/****** Object:  StoredProcedure [dbo].[insertUsuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertUsuario]
			@usuario_nombre varchar(50)
           ,@usuario_contraseña varchar(50)           ,@usuario_razonsocial varchar(50)
           ,@usuario_ruc varchar(12)           ,@usuario_email varchar(50)
           ,@usuario_telefono varchar(12)           ,@usuario_foto_url varchar(50)
           ,@usuario_presentacion varchar(500)           
as
insert into dbo.usuario
		(
			usuario_nombre 
           ,usuario_contraseña            ,usuario_razonsocial 
           ,usuario_ruc           ,usuario_email
           ,usuario_telefono            ,usuario_foto_url 
           ,usuario_presentacion           ,activo ,fecha_creacion, usuario_creacion
		   )
values(
			@usuario_nombre
           ,@usuario_contraseña           ,@usuario_razonsocial
           ,@usuario_ruc           ,@usuario_email
           ,@usuario_telefono           ,@usuario_foto_url
           ,@usuario_presentacion           ,1, GETDATE(), 'master'
)



GO
/****** Object:  StoredProcedure [dbo].[selectAllCancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllCancha]
as
select * from dbo.cancha



GO
/****** Object:  StoredProcedure [dbo].[selectAllCanchaxUsuarioId]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[selectAllCanchaxUsuarioId]
	@cancha_usuario_id int
as
select c.cancha_id, c.cancha_nombre, c.cancha_descripcion,c.cancha_usuario_id, c.cancha_tipo_id ,tmd.tablamaestradetalle_descripcion cancha_tipo
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
where c.cancha_usuario_id = @cancha_usuario_id



GO
/****** Object:  StoredProcedure [dbo].[selectAllReserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[selectAllReserva]
as
select * from dbo.reserva



GO
/****** Object:  StoredProcedure [dbo].[selectAllUsuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllUsuario]
as
select * from dbo.usuario



GO
/****** Object:  StoredProcedure [dbo].[selectCancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectCancha] @cancha_nombre int
as
select * from dbo.cancha 
where cancha_nombre = @cancha_nombre



GO
/****** Object:  StoredProcedure [dbo].[selectReserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[selectReserva]
	@reserva_id int
as
select * from dbo.reserva
where reserva_id = @reserva_id



GO
/****** Object:  StoredProcedure [dbo].[selectUsuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectUsuario] (@usuario_nombre int)
as
select * from dbo.usuario
where usuario_nombre = @usuario_nombre



GO
/****** Object:  StoredProcedure [dbo].[updateCancha]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[updateCancha](
	@cancha_id int,
	@cancha_usuario_id int, @cancha_nombre varchar(100),
	@cancha_descripcion varchar(200), @cancha_tipo_id int)
As
update cancha
set 		
            cancha_usuario_id = @cancha_usuario_id           ,cancha_nombre = @cancha_nombre
           ,cancha_descripcion = @cancha_descripcion           ,cancha_tipo_id = @cancha_tipo_id
           ,fecha_modificacion = GETDATE()		   
where cancha_id = @cancha_id



GO
/****** Object:  StoredProcedure [dbo].[updateReserva]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateReserva]
	@reserva_id int, @reserva_fecha datetime, @reserva_horainicio time, @reserva_horafin time,
	@reserva_canchaid int,@reserva_cliente_dni varchar(10), @reserva_cliente_nombre varchar(50),
	@reserva_cliente_apellido varchar(50), @reserva_cliente_email varchar(50),@reserva_cliente_telefono varchar(50),
	@reserva_cliente_celular varchar(12)
as
UPDATE [dbo].[reserva]
   SET [reserva_fecha] = @reserva_fecha
      ,[reserva_horainicio] = @reserva_horainicio
      ,[reserva_horafin] = @reserva_horafin
      ,[reserva_canchaid] = @reserva_canchaid
      ,[reserva_cliente_dni] = @reserva_cliente_dni
      ,[reserva_cliente_nombre] = @reserva_cliente_nombre
      ,[reserva_cliente_apellido] = @reserva_cliente_apellido
      ,[reserva_cliente_email] = @reserva_cliente_email
      ,[reserva_cliente_telefono] = @reserva_cliente_telefono
      ,[reserva_cliente_celular] = @reserva_cliente_celular
      ,[fecha_modificacion] = GETDATE()
 WHERE reserva_id = @reserva_id



GO
/****** Object:  StoredProcedure [dbo].[updateUsuario]    Script Date: 19/07/2017 07:35:47 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateUsuario]
			@usuario_id int, @usuario_nombre varchar(50)
           ,@usuario_contraseña varchar(50)           ,@usuario_razonsocial varchar(50)
           ,@usuario_ruc varchar(12)           ,@usuario_email varchar(50)
           ,@usuario_telefono varchar(12)           ,@usuario_foto_url varchar(50)
           ,@usuario_presentacion varchar(500)           
as
update usuario
set
			usuario_nombre =@usuario_nombre
           ,usuario_contraseña =@usuario_contraseña           ,usuario_razonsocial =@usuario_razonsocial
           ,usuario_ruc =@usuario_ruc          ,usuario_email =@usuario_email
           ,usuario_telefono =@usuario_telefono           ,usuario_foto_url =@usuario_foto_url
           ,usuario_presentacion =@usuario_presentacion        ,fecha_modificacion =GETDATE()
where
usuario_id  = @usuario_id



GO
USE [master]
GO
