
@{
    ViewBag.Title = "ResultadoBusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <h2 class="text-center">Resultado de búsqueda</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    La Bombonera
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="~/Sources/img/1.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    La Canchita
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">433 <i class="glyphicon glyphicon-eye-open"></i></span>
                        <span data-toggle="tooltip" title="Favorited">4 <i class="glyphicon glyphicon-star"></i></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="~/Sources/img/2.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    Hooligan
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.1K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">13 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="~/Sources/img/3.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    Centro deporte
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">11.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">24 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="~/Sources/img/4.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    Recreo Campestre
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">7.3K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">31 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="~/Sources/img/5.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <h4>
                    Deporte 1
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">18 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.0</span>
                    </span>
                </h4>
                <img src="~/Sources/img/6.jpg" style="width:500px; height:350px; " />
                <a href="" class="btn btn-primary col-xs-12" role="button">Ver más datos</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
